jupyter
jupyterlab
numpy==1.25.2
numba==0.58.0
pandas
librosa==0.9.1
ipython
pathlib
setuptools
matplotlib
wheel

# API
fastapi         # API framework
pytz            # time zone management
uvicorn         # web server
# tests
httpx           # HTTP client
pytest-asyncio  # asynchronous I/O support for pytest

# Machine Learning & Deep Learning
tensorflow
keras
scikit-learn

# Cloud Storage
google-cloud-storage
